body {
    background-color: #cecece;
    padding: 32px; 
    }
button {
    margin: 25px 15px;
    border: none;
    border-radius: 5px;
    border: 1px solid lime;
    padding: 15px 35px;
    }
button:hover {
    outline: 1px solid white;/*Рамка*/
    outline-offset: -2px; /*Сдвиг рамки внутрь на 2px*/
    cursor: pointer; /*Изменение курсора*/
    }
.button1 {
    background-color: #2563E9;
    transition: 1s; /*Время на выполнение изменений*/
    }
.button1:hover {
    background-color: #4478E9; /*Изменение цвета при наведении курсора*/
    }
.button2 {
    background-color: #2563E9;
    transition: 1s; /*Время на выполнение изменений*/
    transition-property: background; /*Изменяемый параметр*/
    }
.button2:hover {
    background-color: #E95AD1;
    outline: none; /*Рамка не применяется при наведении курсора*/
    }