* {
    padding: 0;
    margin: 0;
    }
body {
    perspective: 900px; /*Удаленность от центра вращения*/
    perspective-origin: center -5em; /*Угол 180 градусов -5em по оси X.*/
    }
.container {
    transform-style: preserve-3d; 
    animation: rotate 10s infinite linear; /*Время выполнения, зацикливание, скорость выполнения*/
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left:250px;
    }
@keyframes rotate {
    100% {
    transform: rotate3d(0, 1, 0, 360deg); /*Вращение в 3D 360 градусов вокруг своей оси */
    }
    }
div.side {
    width: 200px; 
    height: 200px;
    background-color: #ccc;
    position: absolute;
    outline: 1px solid #000;
    outline-offset: 25px; /*Сдвиг контуров на 25px*/
    opacity: 0.8; /*Прозрачность*/
    }
.front {
    background: url("images/pic6.png");
    }
   
.left {
    transform: translateX(-100px) rotateY(90deg) translateX(100px); /*Сдвиг по оси Х на -100рх, поворот по оси Y на 90 градусов, сдвиг по оси Х на 100рх*/
    background: url("images/pic1.png");
    }
.right {
    transform: translateX(100px) rotateY(90deg) translateX(100px); /*Сдвиг по оси Х на 100рх, поворот по оси Y на 90 градусов, сдвиг по оси Х на 100рх*/
    background: url("images/pic2.png");
    }
.up {
    transform: translateY(-100px) rotateX(90deg) translateY(-100px); /*Сдвиг по оси Y на -100рх, поворот по оси X на 90 градусов, сдвиг по оси Y на -100рх*/
    background: url("images/pic3.png");
    }
.down {
    transform: translateY(100px) rotateX(90deg) translateY(-100px); /*Сдвиг по оси Y на 100рх, поворот по оси X на 90 градусов, сдвиг по оси Х на -100рх*/
    background: url("images/pic4.png");
    }
.back {
    transform: translateZ(-200px); /*Сдвиг по оси Z на -200рх*/
    background: url("images/pic5.png");
    }